commom/
department/
paymentMethods/
transacation/
transactionCategories/
worker/


V3__create-department-table.sql
V4__create-department-member-table.sql
V5__create-worker-table.sql
V6__create-payment-methods-table.sql
V7__create-transaction-categories-table.sql
V8__create-transactions-table.sql

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
